*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: "Marhey";
    src: url("fonts/Marhey/Marhey-VariableFont_wght.ttf");
}

body{
    font-family: "Marhey", sans-serif;
    font-size: 26px;
    color: rgb(60,60,60);
    line-height: 1.5;
}

h1{
    font-size: 250%;
    margin: 90px 0 35px 0;
    color: rgb(60, 60, 60);
}

h2{
    font-size: 250%;
    margin: 50px 13% 50px 0;
}

h3{
    font-size: 150%; 
    margin-bottom: 10px;
}

h4{
    margin-bottom: 10px;
    font-weight: 500;
}

/* jednostránkový web */
header{
    width: 100%;
    height: 800px;
    background-color: rgb(197, 196, 196);
    border-bottom: 10px solid gray;
}

.foto img{
    width: 30%;
    border-radius: 300px;
    border-left: 10px double gray;
    margin: 70px;
    float: left;
    display: flex;
    padding: 50px;
}

.narozeni{
    font-size: 36px;
}

nav ul{
    list-style: none;
    padding: 40px 2% 0 0;
    text-align: right; 
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: rgb(66, 64, 64);
    font-size: 30px;
    text-decoration: none;
}

nav ul li a:hover{
    color:rgb(243, 243, 243);
}

.place img{
    width: 40px;
    margin-right: 25px;
}

.place{
    margin-top: 50px;
}

.place a{
    color: rgb(66, 64, 64);
}

.place a:hover,
.place a:focus,
.place a:active{
    color:rgb(243, 243, 243);
}

ul{
    margin-left: 100px;
}

.zkušenosti{
    margin: 70px 15% 70px 13%;
    text-align: left;
}

.rok{
    font-size: 30px;
    margin-top: 20px;
}

.vzdělání{
    padding: 70px 15% 70px 13%;
    text-align: left;
    background-color: rgb(230, 230, 230);
}

.jazyky{
    margin: 70px 15% 0px 13%;
    text-align: left;
}

table{
    width: 50%;
    padding-bottom: 70px;
    line-height: 2;
}

table th{
    background-color: rgb(185, 184, 184);
    text-align: center;
    padding: 10px;
}

.sloupec{
    text-align: center;
}

table td{
    padding-left: 10px;
}

.dovednosti{
    padding: 70px 15% 70px 13%;
    text-align: left;
    background-color: rgb(230, 230, 230);
}

.zájmy{
    margin: 70px 15% 70px 13%;
    text-align: left;
}

footer{
    text-align: center;
    padding-top:60px;
    padding-bottom:40px;
    background-color: rgb(197, 196, 196);
    border-top: 10px solid gray;
}

footer a{
    text-decoration: none;
    color:rgb(60, 60, 60);
}

footer a:hover{
    color: rgb(243, 243, 243);
}
